.register-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.btn-register {
	width: 100%;
	border: 1px solid transparent;
	outline: 0;
	background-color: #0095f6;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	padding: 5px 9px;
	border-radius: 4px;
}
